Package: com.ryannair05.GesturesXS
Name: GesturesXS
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: iPhone X gesture, nothing else!
Maintainer: Ryan Nair
Author: Ryan Nair
Section: Tweaks
