Package: com.ryannair05.poseidon
Name: Poseidon
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: iPhone X gestures and buttons.
Maintainer: Ryan Nair
Author: Ryan Nair
Section: Tweaks
